<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect requests starting with /api to the API server
    RewriteRule ^api/.*$ api/public/index.php [L]

    # Redirect other requests to the client server
    RewriteRule ^client/.*$ client/public/index.php [L]

    # If the request is not for /api or /client, redirect to the appropriate server
    RewriteCond %{REQUEST_URI} !^/(api|client)/ [NC]
    RewriteRule ^.*$ client/public/index.php [L]
</IfModule>